body{
  background-color: #FEFEE3 ;
  margin: auto;
  font-family: sans-serif;
}
/*Barre de navigation*/
.logo{
    display: block;
    padding: 5px;
    float: left;
    width: 8%;
    height: 8%;
}
#bar{
    font-family: Px AmstradPC1512-2y;
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #FFECD1;
    border-radius: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
li .bar {
  display: table-cell;
  color: #001524;
  text-align: center;
  padding: 1% 2%;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
  float: left;
  width: 15%;
}
li.bar:not(img){
  display: table-cell;
  vertical-align: middle;
}


li a:hover {
  font-weight: bold;

}



/*Articles multiples*/
section,.sup-top{
    margin-top: 80px;
    text-align: center;
    left: 0;
    right: 0;

}
.text-block{
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#first-block{
  background-image: url('../img/sallesdarcade.jpg');
  padding-top: 16.5%;
  padding-bottom: 16.5%;
  color: #FFC9B9;
}
#second-block{
  background-color: #FFECD1;
  color: #D68C45;
}
#third-block{
  background-color: #4C956C;
  color: #FFECD1;
  padding-bottom: 15px;
}


/*Images*/
.auto{
border-radius: 10px;
width: 70%;
height: auto;
left: 0;
margin: 0px;
}
.small{
width: 10%;
height: 10%;
}
.icon{
max-width: 20px;
height: 20px;
margin-right: 10px;
}
.right{
padding-right: 30%;
float: right;
}
.left{
padding-left: 30%;
float: left;
}

/*Mentions Légales*/
.mentions-bottom{
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 40px;
padding-top: 5px;
background-color: #2C6E49;
color: white;
}
.abso-bottom{
position: absolute;
bottom:0;
margin-bottom: 0;
width: 100%;
}
.mentions-page{
margin-top: 70px;
}

.button{
background-color: #78290F;
padding: 5px;
border-radius: 5px;
color: #FF7D00;
}


/*Titre police*/
h2{
  font-family: fantasy;
}


/*button arrondir*/
button{
  border-radius: 35px;
}