body{
    background-color: white ;
    margin: auto;
    font-family: DejaVu Sans, sans-serif;
}
/*Barre de navigation*/
  
  #bar{
      font-family: Px AmstradPC1512-2y, sans-serif;
      list-style-type: none;
      margin-top: 0px;
      padding: 0;
      padding-bottom: 2px;
      overflow: hidden;
      background-color: #FFECD1;
      border-radius: 0px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
  }
  li .bar {
    display: table-cell;
    color: #001524;
    text-align: center;
    padding: 1% 2%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    float: left;
    width: 15%;
    height: 50px;
    font-size: large;
  }
  /*
  li .bar-right{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 90px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    float: right;
  }
  */
  li a:hover {
    background-color: #FF7D00;  
  }
  .logo{
    display: block;
    padding: 5px;
    float: left;
    width: 12%;
    height: 12%;
}

/*Articles multiples*/
  section,.sup-top{
      margin-top: 10%;
      text-align: center;
      left: 0;
      right: 0;

  }
  .text-block{
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }
  .article{
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
  }

  #first-block{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/sallesdarcade.jpg');
    padding-top: 16.5%;
    padding-bottom: 16.5%;
    color: #FFECD1;
    font-size: x-large;
  }
  #first-block h2{
    color: #FF7D00;
    font-size: xx-large;
  }
  #second-block{
    background-color: #FFECD1;
    color: #15616D;
  }
  #third-block{
    background-color: #15616D;
    color: #FFECD1;
    padding-bottom: 15px;
  }


/*Images*/
.auto{
  border-radius: 10px;
  width: 60%;
  height: auto;
  left: 0;
  margin: 0px;
}
.small{
  width: 10%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}
.medium{
  border-radius: 10px;
  width: 30%;
  height: auto;
  left: 0;
  margin: 0px;
}
.icon{
  max-width: 30px;
  height: 30px;
  margin-right: 10px;
}
.right{
  padding-right: 30%;
  float: right;
}
.left{
  padding-left: 30%;
  float: left;
}

/*Mentions Légales*/
.mentions-bottom{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #001524;
  color: white;
}
.abso-bottom{
  position: absolute;
  bottom:0;
  margin-bottom: 0;
  width: 100%;
}
.mentions-page{
  margin-top: 5%;
}

.button, button{
  background-color: #FFECD1;
  padding: 10px;
  border-radius: 0px;
  color: black;
  margin-bottom: 0;
}
button{
  color: #FFECD1;
  background-color: #15616D;
}
.button.orange{
  color: #FFECD1;
  background-color: #FF7D00;
}


@media screen and (max-width: 600px) {
  li .bar, .logo{
    float: none;
  }
  .logo{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
  #first-block{
    padding-top: 35%;
  }
  #source{
    margin-top: 60%;
  }
  .small{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .article{
    margin-left: 5%;
    margin-right: 5%;
  }
  .sup-top{
    margin-top: 70%;
  }
  .mentions-page{
    margin-top: 80%;
  }
  #longfooter{
    position: static;
  }
  /*
  #footer{
    position: static;
    width: 100%;
  }
  */
}