body{
    background-color: #FFECD1;
}
.logo{
    max-width: 30%;
    display: block;
    padding: 10px;
}
h1{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001524;
    border-radius: 5px;
  }
  
  li {
    float: left;
  }
  
  li .bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 90px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #15616D;  
  }
  p{
    background-color: white;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
  }